.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    padding: .5rem 0px;
    margin: 0 .5rem;
    display: block;
    color: #fff;
    text-decoration: none;
    border-radius: 0px;
    white-space: break-spaces;
    border-bottom: 1px solid #ccc;
    transition: all 0.2s ease-in-out;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover {
    background-color: transparent;
    color: #eee;
    padding-left: 5px;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:last-child {
    border: none;
}

.submenu-bg {
    background-color: rgba(0, 0, 0, 0.25);
    /*max-height: 220px;*/
}

.scrollbar {
    overflow-y: scroll;
    margin-bottom: 25px;
}

#style-8::-webkit-scrollbar-track {
    border: 1px solid black;
    background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.col-sm-6.text-center.first-bg-color,
.col-sm-6.text-center.second-bg-color {
    margin-right: 5px !important;
    max-width: 49.5% !important;
}

.Workflow_btn {
    float: right;
    margin: 0px 0 10px 0px;
}

.rectangle-box {
    height: 220px;
    padding-top: 50px;
    transition: all 0.5s ease-in-out;
}

.rectangle-box:hover {
    /* padding: 50px; */
    background-color: 343148;
    transition: transform .5s;
    transform: scale(1.1);
    margin: 0 auto;
}

a.roomhover:hover {
    text-decoration: none!important;
}

.rectangle-box p {
    color: #fff;
}

.full-width {
    width: 100%;
}

.row.topheader {
    /*    padding: 10px 0px 0px;*/
}

.row.topheader h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.text-blue {
    color: #4e73df;
}

.pr10 {
    padding-right: 10px;
}

.text-red {
    color: #e74a3b;
}

.table {
    display: inline-table;
    width: 99.99%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table td,
.table th {
    padding: 7px;
}

.custom-table tr th {
    background-color: #4e73df;
    color: #fff;
    padding: 7px;
    border: 0px;
    font-size: 13px;
    width: auto;
}

.custom-table tr td i {
    cursor: pointer;
}

.custom-table tr:nth-of-type(odd) {
    background-color: #fafbfc;
}


/* Add Flow list */

.page-tasks .task-list .view {
    display: block;
}

.page-tasks .task-list .view {
    position: relative;
    margin-bottom: 10px;
    padding: 0 12px 0 15px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
}

.addoperator .bg-info {
    background-color: #858796!important;
}

.bg-info {
    /* background-color: #858796!important; */
    color: #fff !important;
    border-radius: 4px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.modal-body {
    background-color: #f5f7fa;
}

.custom-table a:hover {
    text-decoration: none;
}

.addoperator .btn-danger {
    background-color: #f8f9fc!important;
    color: #858796;
    border: 0;
}

.addoperator .btn-danger:hover {
    color: #858796;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.thumb64 {
    width: 64px !important;
    height: 64px !important;
}

.circle {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 500px;
    margin: 0 .5em;
    background-color: #ddd;
    vertical-align: baseline;
    border: 2px solid transparent;
}

.bg-gray-600 {
    color: #fff;
    border-radius: 4px;
}

.h3,
h3 {
    font-size: 1.75rem;
    font-weight: bold;
}

.flowstep p a {
    font-size: 12px;
}

.btn {
    font-size: 13px;
}


/* .chosen-container .chosen-results li.active-result */

.chosen-container .chosen-results li.active-result {
    font-size: 12px;
}

body::-webkit-scrollbar {
    width: 0.4em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.form-control {
    font-size: 0.8rem;
}

h2,
.h2 {
    font-size: 1.875rem;
}

/*#process-log-report table tr td,
#process-log-report table tr th {
    font-size: 13px;
    padding: 10px;
}

#process-log-report table {
    width: 100%;
}*/

.card.card-default label {
    font-size: 13px;
}

#wrapper #content-wrapper {
    overflow-x: initial !important;
    overflow-y: hidden;
}

.scroll-table {
    width: 1053px;
    max-width: 100%;
    overflow: auto;
    overflow-y: auto;
    flex: 1 1 auto;
    overflow-y: hidden;
    min-width: 100%;
}

footer.sticky-footer {
    padding: 1rem 0;
}

.scroll-table th {
    /* word-break: break-all; */
    text-transform: uppercase !important;
}


/*  24 March 2020  */

.content-wrapper .content-heading {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.1;
    color: #929292;
    margin: -15px;
    margin-bottom: 20px;
    padding: 15px;
    font-weight: normal;
    background-color: #fafbfc;
    border-bottom: 1px solid #cfdbe2;
}

.card {
    margin-bottom: 1.25rem;
}

.card-default {
    border-top-width: 3px;
    border-color: #cfdbe2;
}

.card .card-body {
    padding: 0.9375rem;
}

.wt42 {
    width: 42px!important;
}

.f15 {
    font-size: 15px!important;
}

.btn-label {
    position: relative;
    background: transparent;
    background: rgba(0, 0, 0, 0.05);
    display: inline-block;
    padding: 0.375rem 1rem;
    left: -1rem;
    border-radius: 0.25rem 0 0 0.25rem;
}

.breadcrumb-item a {
    color: #c3c0c0;
    font-size: 15px;
}

.content-heading .breadcrumb {
    float: right;
}

.content-heading .breadcrumb {
    font-size: 1rem;
    margin-bottom: 0;
}

.breadcrumb {
    font-weight: normal;
    border-radius: 0;
    color: #909FA7;
    padding: 10px 20px;
    background-color: transparent;
}

.breadcrumb-item.active a {
    color: #343148 !important;
}

.custom-table td {
    border: 1px solid #e3e6f0;
}

.sidebar .nav-item .collapse .collapse-inner {
    font-size: 12px!important;
}

div#audit_trail h2 {
    /*margin-top: -15px; */
    font-size: 23px;
    font-weight: bold;
    padding-top: 0;
    margin-bottom: 0;
    line-height: normal;
}

.pagination>li>a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.table th, table td, table td, table th {
    font-size: 13px;
    padding: 7px;
}
/*.table th,
table td,
table td,
table th {
    font-size: 13px;
     word-break: break-all; 
}*/

/*.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3 {
    font-size: 22px;
}*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3 {
    font-size: 20px;
}
h4,
h5,
h6 {
    font-size: 21px;
}

.btn-success {
    white-space: nowrap;
}

.custom-control-label {
    padding-top: 5px;
}

.custom-table tr td {
    padding: 7px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-word;
    color:black; 
}

@media (max-width: 500px) {
    .btn-primary {
        display: inherit;
    }
    .btn-group-sm>.btn,
    .btn-sm {
        margin: 2px;
    }
    #pressure-report .form-row img {
        width: 100px!important;
        margin: 0 auto;
        display: block;
    }
    .submenu-bg {
        background-color: rgba(0, 0, 0, 0.70);
    }
}

@media (min-width: 320px) and (max-width: 1024px) {
    .button.smallBtn {
        padding: 3px 6px;
        white-space: nowrap;
    }
    .table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -moz-overflow-scrolling: touch;
        -o-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .modal-content {
        width: 94%;
    }
    .scroll-table {
        width: 100%
    }
    .table th,
    table td,
    table td,
    table th {
        font-size: 12px!important;
    }
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3 {
        font-size: 18px!important;
    }
    h4,
    h5,
    h6 {
        font-size: 16px;
    }
    .btn {
        font-size: 12px;
        padding: 5px;
    }
}

/*.report-logo {
    width: 115px;
    height: auto;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}*/
.report-logo {
    width: 92px;
    height: auto;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
.btn {
    margin: 2px;
}

.container-fluid {
    margin-top: 60px!important;
}

.topbar {
    position: fixed;
    top: 0;
    width: 85%;
    z-index: 10;
}

.pdf_btn {
    font-size: 24px;
    margin: 10px 0 0 0px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.btn_trns {
    margin-top: 5px;
    border: 0px;
    background-color: transparent!important;
}

p {
    margin-top: 5px;
    margin-bottom: 1rem;
    font-size: 15px;
    line-height: 23px;
}

.pll5 {
    padding: 7px;
    line-height: 5px;
    margin: 0;
    vertical-align: text-top;
}

.tableP p {
    margin-top: 5px;
    margin-bottom: 1rem;
    font-size: 13px;
    line-height: 20px;
    max-width: 350px;
    min-width: 80px;
}

#userDropdown p {
    margin-top: 0;
    line-height: inherit;
}

.blue-bg {
    background-color: #4e73df;
}

.ht750 {
    min-height: 750px;
    max-height: 100%;
}

.switch {
    position: relative;
    display: block;
    width: 55px;
    height: 23px;
    margin-left: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.f20 {
    font-size: 20px!important;
}

.chosen-container-single .chosen-single {
    height: 30px!important;
    line-height: 30px!important;
}

.chosen-container-single .chosen-single div {
    top: 3px!important;
}

.f18 {
    font-size: 18px!important;
}

.workflow-img .col-xl-2 {
    display: inline-block;
    vertical-align: top;
}

.workflow-img p {
    font-size: 14px;
}

/*table.blockalign {
    margin: 7px 0px;
}

table.blockalign th {
    padding: 7px 5px;
}*/
table.blockalign td {
    padding: 5px 3px;
}

.equipmentsname {
    display: flex;
    justify-content: space-around;
}
.card-default p {
    margin-bottom: 0;
}
.card-default p a{color:#000}