.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    padding: .5rem 0px;
    margin: 0 .5rem;
    display: block;
    color: #fff;
    text-decoration: none;
    border-radius: 0px;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
    transition: all 0.2s ease-in-out;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover{
    background-color: transparent; color: #eee;
    padding-left: 5px;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item:last-child{
    border: none;
}
.submenu-bg{
    background-color: #5a7ce0;
}
.col-sm-6.text-center.first-bg-color, .col-sm-6.text-center.second-bg-color {
    margin-right: 5px !important;
    max-width: 49.5% !important;
}


