/* above css code mode by bhupendra for login page */
.wd-xl35 {
    width: 35%;
}
.wd-xl30 {
    width: 30%;
}
.topbarcolor {
      background-color: #d9232f !important;
    background-image: none;
}
.footercon
{
margin-left: 0px !important;
}
/* End of login page css code*/
.col-xl-2 {
    flex: 1 0 0 !important;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}

.table.table-dark tbody {
    background-color: #fff;
    color: #656565;
}
.tables_ui {
  display:inline-block;
   border-spacing:0;
}
.tables_ui th,td {
  text-align: left;
  padding: 2px 4px;
  border: 1px solid #dde6e9;
  width:300px;
}
.pt20{padding-top:20px;}
.logout a {
    padding: 10px !important;
    border-bottom: 1px solid #ddd;
}
.btn-primary.disabled {background-color:#D3D3D3!important;} /* Button disable color */
.btn-success.disabled{background-color:#D3D3D3!important;} /* Button disable color */
.btn-danger.disabled{background-color:#D3D3D3!important;} /* Button disable color */
.btn-warning.disabled{background-color:#D3D3D3!important;} /* Button disable color */

/*  Production background color  - SV on 22 Aug 2019 */
.first-bg-color:hover, .second-bg-color:hover{background-color: #343148!important; cursor: pointer;}
.first-bg-color{background-color:#d9232f !important; transition: all 0.3s ease-in-out;}
.second-bg-color{background-color:#ff6f61!important; transition: all 0.3s ease-in-out;}

/*  Sanitazation background color  - SV on 22 Aug 2019 */
.first-green-bg-color:hover, .second-green-bg-color:hover{background-color: #343148!important; cursor: pointer;}
.first-green-bg-color{background-color:#85c64f!important; transition: all 0.3s ease-in-out;}
.second-green-bg-color{background-color:#85c64f!important; transition: all 0.3s ease-in-out;}

.col-sm-6.text-center.first-green-bg-color, .col-sm-6.text-center.second-green-bg-color {
    margin-right: 5px !important;
    max-width: 49.5% !important;
}
.col-sm-3.text-center.first-green-bg-color, .col-sm-3.text-center.second-green-bg-color {
    max-width: 24.5%;
    margin-right: 5px;
}


/* Added by Manoj on 21 Aug 2019, Commented by SV on 22 Aug 2019

.orange-bgcolor{background-color:#ffa03b !important;}
.green-bgcolor{background-color:#85c64f !important;}
.blue-bgcolor{background-color:#3b09c8 !important;}
.red-bgcolor{background-color:#f46060 !important;}
*/

.logout a i {
    font-size: 16px;
    padding-right: 8px;
    color: #A8A6A6;
}
.t_sortable tr, .ui-sortable-helper {
  cursor: move;
}
.t_sortable tr:first-child {
  cursor: default;
}
.ui-sortable-placeholder {
  background: yellow;
}

.flrght{
	float:right;
}

.topnavbar {
	    background-color: #d9232f!important;
    background-image: none;
}
.table-dark {
    color: #fff;
    background-color: #ff6f61!important;
}
.height50{height:50px;}
.code-box:hover .hover-box{display:block !important;}
.table-dark th, .table-dark td, .table-dark thead th{border-color:#D3D3D3;}
.mt120{margin-top:120px;}
.sidebar-nav > li > a:focus, .sidebar-nav > li > a:hover, .sidebar-nav > li > .nav-item:focus, .sidebar-nav > li > .nav-item:hover, li.dropdown.langs a:hover, .sidebar-nav > li.active > .nav-item > em, .sidebar-nav > li.active > a > em, .sidebar-nav > li.open > .nav-item > em, .sidebar-nav > li.open > a > em, .sidebar-nav > li.active, .sidebar-nav > li.active > a, .sidebar-nav > li.active > .nav-item, .sidebar-nav > li.active .sidebar-nav, .sidebar-nav > li.open, .sidebar-nav > li.open > a, .sidebar-nav > li.open > .nav-item, .sidebar-nav > li.open .sidebar-nav {
     color: #d9232f!important;
	 text-decoration:none;
}
.topnavbar .navbar-nav > .nav-item > .nav-link:hover, .topnavbar .navbar-nav > .nav-item > .nav-link:focus, .topnavbar .navbar-nav > .nav-item.show > .nav-link:hover, .topnavbar .navbar-nav > .nav-item.show > .nav-link:focus{color:#f9f9f9;}
ul.soplisting {
    list-style-type: none;
    margin: 0px;
    padding: 0;
}
.content-heading .breadcrumb{float:right;}
.breadcrumb-item a{ color: #c3c0c0; font-size:15px; }
.breadcrumb-item a:hover, a.text-graycolor:hover {
     color: #ff6f61!important;
}
.pointer{cursor:pointer;}
.breadcrumb-item.active a{color:#343148 !important;}

.f25{font-size:25px;}
.list-group-item .media-body a:hover {
    color: #d9232f!important;
	 text-decoration:none;
}

ul.soplisting li:last-child{border:none;}
ul.soplisting li {
    padding: 10px 0px 5px 0px;
	    display: inline-flex;
		-moz-display: inline-flex;
		-ms-display: inline-flex;
		-o-display: inline-flex;
		width:100%;
		border-bottom:1px solid #e4eaec;
}
.text-graycolor{color:#989393;}
.underline{text-decoration:underline;}
.sidebar-nav > li.active {
    border-left-color: #d9232f!important;
}
.next-btn{background-color: #d9232f!important; border-color:#ce2731; font-size: 16px; }
.next-btn a{color:#fff; text-decoration:none;}
.next-btn em{font-size: 13px;}
.flags-american, .flags-china, .flags-france, .flags-germany, .flags-italy, .flags-japan, .flags-korea, .flags-portugal, .flags-russia, .flags-spain, .flags-sprite {
    background-image: url(../img/flags-s9e6bfd0b60.png);
    background-repeat: no-repeat;
}
.flags-american, .flags-china, .flags-france, .flags-germany, .flags-japan, .flags-korea, .flags-portugal, .flags-russia, .flags-spain {
    height: 21px;
    width: 32px;
	float: left;
}
.list-langs li {
    padding: 5px;
}
.list-langs li .flag{
padding-right:42px;
	}
.top-header .langs .list-langs a .flag {
    position: absolute;
    top: 7px;
    left: 15px;
}
.flags-spain {
    background-position: 0 -189px;
}
.flags-portugal {
    background-position: 0 -147px;
}
.flags-china {
    background-position: 0 -21px;
}
.flags-japan {
    background-position: 0 -105px;
}
.flags-russia {
    background-position: 0 -168px;
}
.top-nav .nav-right>li>a {
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.06);
}
li.dropdown.langs .dropdown-toggle::after{
	color:#fff;
	}
li.dropdown.langs {
    margin-right: 20px;
	padding-top: 15px;
}
.list-langs {
    left: -108px!important;
}
.wlc-optr-icon{font-size: 14px;
    padding-left: 5px;}
.f18{font-size:18px;}
.refresh-icon{
	font-size: 18px;
transform: rotateY(180deg);}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
    color: #d9232f;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#show-hexagoan, #show-hexagoan1, #show-hexagoan2, #show-hexagoan3, #show-hexagoan4, #show-hexagoan5, #show-hexagoan6, #show-hexagoan7{-webkit-animation-name: slowopen; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  animation-name: slowopen;
  animation-duration: 0.5s;
}


@keyframes slowopen{
50%{opacity: 0.8;}
100%{opacity: 1;}
	}

form.search-form {
    position: relative;
}
form.search-form input {
    padding: 0 0 0 30px;
}
form.search-form em {
    position: absolute;
    top: 9px;
    left: 8px;
    font-size: 16px;
}

/* big Hexagone css */

.outerclip1 {
    -webkit-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -transform: skew(-30deg);
    overflow: hidden;
    display: inline-block;
	z-index:0;
   }
.innerclip1 {
    -webkit-transform: skew(50deg);
    -ms-transform: skew(50deg);
    transform: skew(50deg);
    overflow: hidden;
    display: inline-block;
    background-color:#ed8077;
  height:250px;
  width:280px;
  transition:all 0.3s ease-in-out;
  z-index:0;
}

/* end */

.default-icon-color{color:#ff6f61;}
.playpaush-btn i {
    border: 1px solid #d9232f;
    padding: 10px;
    margin: 0px 5px 15px 0px;
    border-radius: 2px;
	color:#d9232f;
}

/* arrow bouns css */

@-moz-keyframes bounceDown {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounceDown {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounceDown {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}





@-webkit-keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  60% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}
@-moz-keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(30px);
  }
  60% {
    transform: translateX(15px);
  }
}
@keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  60% {
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
}
/* /left bounce */


/* right bounce */
@-webkit-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
@-moz-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    transform: translateX(-15px);
  }
}
@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -ms-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
/* /right bounce */


/* assign bounce */
.fa-arrow-right {
  -webkit-animation: bounceRight 2s infinite;
  animation: bounceRight 2s infinite;
  float:right;
}

.fa-arrow-left {
  -webkit-animation: bounceLeft 2s infinite;
  animation: bounceLeft 2s infinite;
}

.fa-chevron-down {
  -moz-animation: bounceDown 2s infinite;
  -webkit-animation: bounceDown 2s infinite;
  animation: bounceDown 2s infinite;
text-align:center;
  display:block;
}


.credits {padding-top:50px; display:block; clear:both;}

/* end */

.outerclip {
    -webkit-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -transform: skew(-30deg);
    overflow: hidden;
    display: inline-block;
	z-index:0;
   }
.innerclip {
    -webkit-transform: skew(50deg);
    -ms-transform: skew(50deg);
    transform: skew(50deg);
    overflow: hidden;
    display: inline-block;
    background-color:#ed8077;
  height:190px;
  width:220px;
  transition:all 0.3s ease-in-out;
  z-index:0;
}
.middle-containt {
    position: absolute;
    top: 35px;
    left: 2px;
    text-align: center;
    width: 100%;
	transition:all 0.3s ease-in-out;
}
.middle-containt p {
    color: #fff;
    font-size: 20px;
    margin-top: 5px;
}
.breadcrumb-item + .breadcrumb-item::before {
    color: #000;
    content: ">";
}
.listexecutesop {
    font-size: 15px;
}
.listexecutesop em {
    vertical-align: middle;
}
.code-title {
    border: 3px solid #666;
    height: 180px;
    width: 200px;
    padding-top: 55px;
}
.code-title p:last-child {
    font-size: 15px;
}
.code-title p:first-child {
    font-size: 18px;
}
.opendoor{display:none;}
a.roomhover:hover{text-decoration:none!important;}
/*.roomhover:hover p{font-weight:bold;}*/
.roomhover:hover .door{display:none;}
.roomhover:hover .opendoor{display:inline-block;}
.roomhover:hover .innerclip, .roomhover:hover .innerclip1{background-color:#b0be3c; cursor:pointer;}
	       .box-down{
	       padding-top: 154px;
    position: relative;
    top: 100px;
    z-index: 100;
}
.card2 {
    margin-bottom: 0px !important;
}
.bgred{color:#f05050 !important;}
#bdtbl tr th{padding-left: 5px!important;}
#bdtbl tr td{padding-left: 5px!important;}
.p-5{padding: 5px!important;}
.pl-8{padding-left: 8.5rem!important;}
.mt160{margin-top:160px;}
.mt30{margin-top:30px;}
.mr30{margin-right:30px;}
.mr15{margin-right:15px;}
.mt90{margin-top:90px;}
.mt10{margin-top:10px;}
.mb-10{margin-bottom:-10px !important;}
.mb-15{margin-bottom:-15px !important;}
.mb15{margin-bottom:15px !important;}
.pl00{padding-left:0px !important;}
.pl60{padding-left:60px !important;}
.pl10{padding-left:10px !important;}
.top0{top:0!important;}
.pf15{font-size:15px !important;}
.mt-14{margin-top: -14px !important;}
.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none;
}
.page-tasks .task-list .view {
    position: relative;
    margin-bottom: 10px;
    padding: 0 12px 0 15px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0,0,0,.2);
}
.editdetete-icon {
    padding-top: 12px;
	display:none;
}
.editdetete-icon em {
    font-size: 14px;
}
.page-tasks .view:hover .editdetete-icon{display:block;}
.page-tasks .task-list .view {
    display: block;
}
.page-tasks .task-list .view .glyphicon-pencil {
    right: 40px;
}
.page-tasks .task-list .view .glyphicon-pencil, .page-tasks .task-list .view .glyphicon-remove {
    display: none;
    position: absolute;
    top: 14px;
    color: #777;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.page-tasks .task-list .view .glyphicon-remove {
    right: 16px;
}
.page-tasks .task-list input.edit {
    margin-bottom: 10px;
    height: 44px;
    padding: 6px 12px 6px 40px;
}
.page-tasks .task-list .edit, .page-tasks .task-list li.editing .view {
    display: none;
}
.modal-body {
   background-color: #f5f7fa;
}
.page-tasks .task-list .view:hover .glyphicon-pencil, .page-tasks .task-list .view:hover .glyphicon-remove, .page-tasks .task-list li.editing .edit {
    display: block;
}
.page-tasks .task-list .view input[type=checkbox] {
    position: absolute;
    top: 11px;
    left: 16px;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.page-tasks .task-list .view label {
    line-height: 20px;
    margin: 0;
    width: 100%;
    padding: 12px 20px;
}
.page-tasks label {
    font-weight: 400;
}

.modal-lg, .modal-xl {
    max-width: 1024px;
    margin-top: 9%;
}
#show-hexagoan, #show-hexagoan1{transition:all 0.3s ease-in-out;}
.listexecutesop img {
    border: 0px solid #d9232f;
    margin-right: 15px;
    padding: 5px 0px;
    border-radius: 2px;
    width: 55px;
}
.listexecutesop1 img {
    margin-right: 15px;
    padding: 0px 0px;
    border-radius: 2px;
    width: 30px !important;
}
.listexecutesop2 img {
    margin-right: 15px;
    padding: 0px 0px;
    border-radius: 2px;
    width: 30px !important;
}
.modal-header .close {
    width: 30px;
    padding: 5px;
    margin: -11px 0px;
    z-index: 1000;
    opacity: 1;
    height: 30px;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
}

/* 21 July 2019 */
.rectangle-box {
    height: 85px;
    padding-top: 0px;
}
/*.rectangle-box img:hover {
    animation: bounce 2s;
}*/
/* Added by Siddharth Verma on 20th Aug 2019
--Start
*/


.zoom:hover {
  transform: scale(1.1); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/* End */

.mt50{margin-top:50px;}
.first-bg-color:hover, .second-bg-color:hover{background-color: #343148!important; cursor: pointer;}
.first-bg-color{background-color:#d9232f!important; transition: all 0.3s ease-in-out;}
.second-bg-color{background-color:#ff6f61!important; transition: all 0.3s ease-in-out;}
.mt2{margin-top:2px;}
.mt1{margin-top:1px;}
.rectangle-box p{color:#fff; font-size:17px;}
.f15{font-size:15px!important;font-weight: bold;}
.wt42{width:42px!important;}
.clearfix{clear:both;}
.default-icon-style{
	border: 1px solid #ff6f61;
    font-size: 27px;
    padding: 5px;
    margin-bottom: 15px;
	margin-right: 18px;
	}
	.ml18{margin-left:18px;}
	.pt11{padding-top:11px;}
	.disable-button-color .btn-danger.disabled, .disable-button-color .btn-danger:disabled {
    color: #fff;
    background-color: #808080;
    border-color: #5a5858;
}
.disable-button-color .btn-danger.success, .disable-button-color .btn-success:disabled {
    color: #fff;
    background-color: #808080;
    border-color: #5a5858;
}
.disable-button-color .btn-warning.disabled, .disable-button-color .btn-warning:disabled {
    color: #fff;
    background-color: #808080;
    border-color: #5a5858;
}

.f16{font-size:16px;}
.padd15{padding:15px;}
.pt15{padding-top:15px;}
.pl15{padding-left:15px;}
.pl10{padding-left:10px;}
.pt10{padding-top:10px;}
.pb10{padding-bottom:10px;}
.tableleftalign{
    position: absolute;
    z-index: 9;
    right: 17px;
}
.col-sm-6.text-center.first-bg-color, .col-sm-6.text-center.second-bg-color {
    margin-right: 5px !important;
    max-width: 49.5% !important;
}
.col-sm-3.text-center.first-bg-color, .col-sm-3.text-center.second-bg-color {
    max-width: 24.5%;
    margin-right: 5px;
}
.pl142{padding-left:142px;}

/* Humburger menu css */
.humburger{display:none;}
.humburger a {
    width: 54%;
    font-size: 14px;
    padding: 10px;
    background-color: #3a3f51;
    margin: 0.4px;
    color: #fff;
    display: none;
    float: right;
}
.main-menu {
    position: absolute;
    z-index: 9;
	right: 9px;
    top: 27px;
	transition:all 0.2s ease-in-out;
}
.humburger .icon-menu {
    font-size: 26px;
    color: #000;
	float:right;
	cursor:pointer;
}

/* end */

@media screen and (min-width: 768px) and (max-width: 1024px){
   .col-sm-6.text-center.first-bg-color, .col-sm-6.text-center.second-bg-color {
    margin-right: 5px !important;
    max-width: 49% !important;
}
.hide-on-mob{display:none;}
.humburger{display:block;}
.col-sm-3.text-center.first-bg-color, .col-sm-3.text-center.second-bg-color {
    max-width: 24.3%;
}
}

@media screen and (max-width: 767px) {
	.hide-on-mob{display:none;}
	.humburger{display:block;}
	.list-langs {
    left: 0px!important;
	top: 104px!important;
}
.col-sm-6.text-center.first-bg-color, .col-sm-6.text-center.second-bg-color {
    max-width: 100% !important;
    margin-bottom: 5px;
}
.remove-on-mobile{display:none;}
.soplisting label.c-checkbox.col-md-1, .soplisting span.col-md-1 {
    width: auto;
    padding: 0;
}
/*.top0 {
    top: 35px!important;
}*/
.box-down{position: inherit!important;
    top: 0px!important;
}
.code-title {
   float:left!important;
    margin-bottom: 40px;
}
.list-langs li {
    padding: 5px 10px;
}
.executesop-heading .col-sm-8.pl-0 {
    min-width: 100%!important;
}
.executesop-heading .col-sm-4.pr-0 {
      padding-left: 0px;
}
.content-heading .breadcrumb {
    display: -webkit-inline-box;
    padding-left: 0px;
}
	.content-heading.executesop-heading {
    display: inline-block;
    width: 100%;
}
form.search-form {
    margin-top: 10px;
}
.hexagons-container .col-sm-3{max-width:100%;}
.modal-header .close {
     margin: -48px -19px;
}
.listexecutesop img {
     margin-bottom: 8px;
}
.innerclip1 {
    height: 230px;
    width: 250px;
    }
}

.col-sm-1 {

    flex: 0 0 1.33333% !important;
    max-width: 8.33333% !important;

}
/***Added By Rahul**/
.first-bg-blue{background-color:#6189ff!important; transition: all 0.3s ease-in-out;}
.rectangle-box-blue {
    height: 60px;
    padding-top: 0px;
}
.rectangle-box-blue p{color:#fff; font-size:17px;}
.toprow {margin-top: -40px !important;}

.modal-backdrop {
  z-index: -1 !important;
}
.login-label{
    color: black;
    font-size: 20px;
}
.modal-header{
    background: red;
}
.modal-title{
    color: white;
}
.box-activity{
    max-width: 100%;
   height: 50px;
word-wrap: break-word;
}
.box-activity p {
    font-size: 13px;
word-wrap: break-word;
}
.ml-5{
    margin-left: 1rem !important;
}
.mb-5{
    margin-bottom: 3rem !important;
}
.col-sm-2{
    flex: 0 0 16.66667%;
max-width: 11.667%;
}

.minrange{
    margin-top: 5px;

border: solid 1px;

width: auto;

height: auto;

min-height: 150px;

max-height: 175px;

min-width: 400px;

max-width: 570px;
margin-left: 20px;
}

.active {
  background-color: rgb(34,139,34) !important;
  color: white;
  border-color: rgb(34,139,34) !important;
}
.mt-2{font-weight: bold !important;}


.runningacttable {
    width: 100%;
}

table.runningacttable tr td {
    width: fit-content;
    padding: 5px;
}

.runningacttable2 tr th {
    padding: 0px;
    text-align: center;
}

.runningacttable2 tr td {
    padding: 0px;
    text-align: center;
}
.runningacttable2 tr td {
    width: fit-content;
}
    .fw-bold{
  font-weight:bold;
}






