.topnavbar {
	    background-color: #d9232f!important;
    background-image: none;
}
.sidebar-nav > li > a:focus, .sidebar-nav > li > a:hover, .sidebar-nav > li > .nav-item:focus, .sidebar-nav > li > .nav-item:hover, li.dropdown.langs a:hover, .sidebar-nav > li.active > .nav-item > em, .sidebar-nav > li.active > a > em, .sidebar-nav > li.open > .nav-item > em, .sidebar-nav > li.open > a > em, .sidebar-nav > li.active, .sidebar-nav > li.active > a, .sidebar-nav > li.active > .nav-item, .sidebar-nav > li.active .sidebar-nav, .sidebar-nav > li.open, .sidebar-nav > li.open > a, .sidebar-nav > li.open > .nav-item, .sidebar-nav > li.open .sidebar-nav {
     color: #d9232f!important;
	 text-decoration:none;
}
.topnavbar .navbar-nav > .nav-item > .nav-link:hover, .topnavbar .navbar-nav > .nav-item > .nav-link:focus, .topnavbar .navbar-nav > .nav-item.show > .nav-link:hover, .topnavbar .navbar-nav > .nav-item.show > .nav-link:focus{color:#f9f9f9;}
ul.soplisting {
    list-style-type: none;
    margin: 0px;
    padding: 0;
}
.content-heading .breadcrumb{float:right;}
.breadcrumb-item a{ color: #c3c0c0; }
.breadcrumb-item a:hover, a.text-graycolor:hover {
     color: #d9232f!important;
}
.pointer{cursor:pointer;}
.breadcrumb-item.active a{color:#b0be3ca;}

.f25{font-size:25px;}
.list-group-item .media-body a:hover {
    color: #d9232f!important;
	 text-decoration:none;
}

ul.soplisting li:last-child{border:none;}
ul.soplisting li {
    padding: 10px 0px 5px 0px;
	    display: inline-flex;
		-moz-display: inline-flex;
		-ms-display: inline-flex;
		-o-display: inline-flex;
		width:100%;
		border-bottom:1px solid #e4eaec;
}
.text-graycolor{color:#989393;}
.underline{text-decoration:underline;}
.sidebar-nav > li.active {
    border-left-color: #d9232f!important;
}
.next-btn{background-color: #d9232f!important; border-color:#ce2731; font-size: 16px; }
.next-btn a{color:#fff; text-decoration:none;}
.next-btn em{font-size: 13px;}
.flags-american, .flags-china, .flags-france, .flags-germany, .flags-italy, .flags-japan, .flags-korea, .flags-portugal, .flags-russia, .flags-spain, .flags-sprite {
    background-image: url(../img/flags-s9e6bfd0b60.png);
    background-repeat: no-repeat;
}
.flags-american, .flags-china, .flags-france, .flags-germany, .flags-japan, .flags-korea, .flags-portugal, .flags-russia, .flags-spain {
    height: 21px;
    width: 32px;
	float: left;
}
.list-langs li {
    padding: 5px;
}
.list-langs li .flag{
padding-right:42px;	
	}
.top-header .langs .list-langs a .flag {
    position: absolute;
    top: 7px;
    left: 15px;
}
.flags-spain {
    background-position: 0 -189px;
}
.flags-portugal {
    background-position: 0 -147px;
}
.flags-china {
    background-position: 0 -21px;
}
.flags-japan {
    background-position: 0 -105px;
}
.flags-russia {
    background-position: 0 -168px;
}
.top-nav .nav-right>li>a {
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.06);
}
li.dropdown.langs .dropdown-toggle::after{
	color:#fff;
	}
li.dropdown.langs {
    margin-right: 20px;
	padding-top: 15px;
}
.list-langs {
    left: -108px!important;
}
.wlc-optr-icon{font-size: 14px;
    padding-left: 5px;}
.f18{font-size:18px;}
.refresh-icon{
	font-size: 18px;
transform: rotateY(180deg);}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
    color: #d9232f;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
form.search-form {
    position: relative;
}
form.search-form input {
    padding: 0 0 0 30px;
}
form.search-form em {
    position: absolute;
    top: 9px;
    left: 8px;
    font-size: 16px;
}

.boxes{-webkit-clip-path: polygon(70% 0, 94% 40%, 71% 84%, 29% 84%, 5% 41%, 28% 0);
clip-path: polygon(70% 0, 94% 40%, 71% 84%, 29% 84%, 5% 41%, 28% 0); height:250px; width:250px; background-color:#79c474;
}

.outerclip {
    -webkit-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -transform: skew(-30deg);
    overflow: hidden;
    display: inline-block;
	z-index:0;
   }
.innerclip {
    -webkit-transform: skew(50deg);
    -ms-transform: skew(50deg);
    transform: skew(50deg);
    overflow: hidden;
    display: inline-block;
    background-color:#ed8077;
  height:190px;
  width:220px;
  transition:all 0.3s ease-in-out;
  z-index:0;
}
.middle-containt {
    position: absolute;
    top: 35px;
    left: 2px;
    text-align: center;
    width: 100%;
	transition:all 0.3s ease-in-out;
}
.middle-containt p {
    color: #fff;
    font-size: 20px;
    margin-top: 5px;
}
.breadcrumb-item + .breadcrumb-item::before {
    color: #000;
    content: ">";
}
.listexecutesop {
    font-size: 20px;
}
.listexecutesop em {
    vertical-align: middle;
}
.code-title {
    border: 3px solid #666;
    height: 180px;
    width: 200px;
    padding-top: 55px;
}
.code-title p:last-child {
    font-size: 15px;
}
.code-title p:first-child {
    font-size: 18px;
}
.opendoor{display:none;} 
.roomhover:hover p{font-weight:bold;} 
.roomhover:hover .door{display:none;}
.roomhover:hover .opendoor{display:inline-block;}
.roomhover:hover .innerclip{background-color:#b0be3c; cursor:pointer;}
	       .box-down{
	       padding-top: 154px;
    position: relative;
    top: 100px;
    z-index: 100;
}
.mt160{margin-top:160px;}
.mt30{margin-top:30px;}
.mt90{margin-top:90px;}
.mt10{margin-top:10px;}
.pl00{padding-left:0px !important;}
.pl60{padding-left:60px !important;}
.top0{top:0!important;}
.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none;
}
.page-tasks .task-list .view {
    position: relative;
    margin-bottom: 10px;
    padding: 0 12px 0 15px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0,0,0,.2);
}
.editdetete-icon {
    padding-top: 12px;
	display:none;
}
.editdetete-icon em {
    font-size: 14px;
}
.page-tasks .view:hover .editdetete-icon{display:block;} 
.page-tasks .task-list .view {
    display: block;
}
.page-tasks .task-list .view .glyphicon-pencil {
    right: 40px;
}
.page-tasks .task-list .view .glyphicon-pencil, .page-tasks .task-list .view .glyphicon-remove {
    display: none;
    position: absolute;
    top: 14px;
    color: #777;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.page-tasks .task-list .view .glyphicon-remove {
    right: 16px;
}
.page-tasks .task-list input.edit {
    margin-bottom: 10px;
    height: 44px;
    padding: 6px 12px 6px 40px;
}
.page-tasks .task-list .edit, .page-tasks .task-list li.editing .view {
    display: none;
}
.modal-body {
   background-color: #f5f7fa;
}
.page-tasks .task-list .view:hover .glyphicon-pencil, .page-tasks .task-list .view:hover .glyphicon-remove, .page-tasks .task-list li.editing .edit {
    display: block;
}
.page-tasks .task-list .view input[type=checkbox] {
    position: absolute;
    top: 11px;
    left: 16px;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.page-tasks .task-list .view label {
    line-height: 20px;
    margin: 0;
    width: 100%;
    padding: 12px 20px;
}
.page-tasks label {
    font-weight: 400;
}

.modal-lg, .modal-xl {
    max-width: 1024px;
    margin-top: 5%;
}
.img-hover{display:none;}
.listexecutesop:hover{color:#d9232f!important; text-decoration:none;}
.listexecutesop:hover .img-hover{display:inline-block;}
.listexecutesop:hover .icon-hide{display:none;}

@media screen and (max-width: 767px) {
	.list-langs {
    left: 0px!important;
	top: 104px!important;
}
.remove-on-mobile{display:none;}
.soplisting label.c-checkbox.col-md-1, .soplisting span.col-md-1 {
    width: auto;
    padding: 0;
}
/*.top0 {
    top: 35px!important;
}*/
.box-down{position: inherit!important;
    top: 0px!important;
}
.code-title {
   float:left!important;
    margin-bottom: 40px;
}
.list-langs li {
    padding: 5px 10px;
}
.executesop-heading .col-sm-8.pl-0 {
    min-width: 100%!important;
}
.executesop-heading .col-sm-4.pr-0 {
      padding-left: 0px;
}
.content-heading .breadcrumb {
    display: -webkit-inline-box;
    padding-left: 0px;
}
	.content-heading.executesop-heading {
    display: inline-block;
    width: 100%;
}
form.search-form {
    margin-top: 10px;
}
.hexagons-container .col-sm-3{max-width:100%;}
}