body{
    font-family: 'Source Sans Pro';
    background-color: #ECF0F5;
    font-size: 16px;
    line-height: 150%;
}

ol, ul {
	list-style: none;
}

ol, ul, li{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


.contentBox h1{
    font-size: 18px;
    color: rgba(0,0,0,0.6);
    font-weight: 600;
    margin-bottom: 20px;
}

.mainHeader{
    background-color: #135893;
    height: 55px;
    padding: 11px 5px;
    position: relative;
    margin-bottom: 20px;
}

.mainWrapper .breadcrumb{
    background-color: transparent;
    margin-bottom: 20px;
    padding: 0px;
}

.toogleFullScreen{
    position: absolute;
    right: 20px;
    top: 14px;
}

.btn{
    font-size: 14px;
}


.button{
    font-size: 14px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.button.symbol img {
    margin-right: 5px;
}

.button.smallBtn{
    padding: 7px 15px;
}

.button.bigBtn{
    padding: 12px 50px;
}

.goBtn{
    min-width: 89px;
}


.primaryBtn{
    background: #43A047;
    color: #FFFFFF;

    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
}


.defaultBtn{
    background: #135893;
    color: #FFFFFF;

    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
}

.primaryBtn:hover{
    background: #347937;
}

.defaultBtn:hover{
    background: #0c406e;
}


.switch-field {
	display: flex;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #ffffff;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 11px 30px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #135893bf;
    box-shadow: none;
    color: #fff;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.contentHeader button {
    margin-top: -5px;
}

.contentBox.redBorder{
    border-top:2px solid #08A9C6;
}

.contentBox.blueBorder{
    border-top:2px solid #08A9C6;
}
.contentBox{
    background: #FFFFFF;
    box-shadow: 0px 2px 6px #0000000A;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
}

.linkListWrap{
    display: -ms-flex;
	display: -webkit-flex;
    display: flex;
    
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}

.linkListWrap.viewAllLinkWrap{
    flex-wrap: wrap;
}

.linkListWrap.viewAllLinkWrap > li{
    flex-basis: 14%;
    margin-bottom: 15px;
}


.linkListWrap > li{
    text-align: center;
    flex-basis: 100%;
    position: relative;
    padding: 0px 7px;
}

.linkListWrap > li a{
    border: 1px solid #D0E8FC;
    color: #666666;
    border-radius: 3px;
    padding-top: 40px;
    display: block;
    text-decoration: none;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
}

.linkText {
    margin-bottom: 10px;
}

.linkListWrap  .logButton{
    font-size: 12px;
    padding: 5px 0px;
    position: relative;
    background:#135893;
    color:#fff;
  -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
}

.linkListWrap  .logButton::after{
    content: '';
    position: absolute;
    right: 35px;
    top: 12px;
    height: 12px;
    width: 12px;
    background: url(../../assets/images/arrow-right-white.png);
   }


.linkListWrap > li a:hover{
    border: 1px solid #135893;
    color: #135893;
}

.linkListWrap > li a:hover .logButton{
    background-color: #D0E8FC;
    color: #666666;
}

.linkListWrap > li a:hover .logButton::after{
    background: url(../../assets/images/arrow-right-gray.png);
 }

.linkListWrap .icon:after{
    content: '';
    position: absolute;
    top: 10px;
    left: 50%;
    display: block;
    width: 26px;
    height: 26px;
    background-image: url(../../assets/images/spritesheet-blue.png);
    background-repeat: no-repeat;
    margin-left: -13px;
}



.linkListWrap  .roomIcon:after {
    background-position: -5px -5px;
}

.linkListWrap  .qaIcon:after {
    background-position: -41px -5px;
}

.linkListWrap .inprogressIcon:after {
    background-position: -77px -5px;
}

.linkListWrap .ipqaIcon:after {
    background-position: -113px -5px;
}


.formWrapper.contentBox{
    padding: 0px;
}

.formWrapper .contentHeader {
    padding: 12px 20px 12px 20px;
    border-bottom: 1px solid #F1F1F3;
}

.formWrapper.contentBox h1{
    margin-bottom: 0px;
}

.formWrapper .contentBody{
    padding: 10px 20px 20px 20px;
}

.formWrapper .formBtnWrap, .formBtnWrap{
    margin-top: 15px;
}

.modal-body .form-control-lg{
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}



.activityList{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -5px;
}

.activityList li {
    padding: 0px 5px;
    text-align: center;
    margin-bottom: 5px;
}

.activityList li a {
    display: block;
    border-radius: 24px;
    padding: 6px 22px;
    border: 1px solid #ced4da;
    cursor: pointer;
    min-height: 100%;
}

.activityList li.active a,.activityList li:hover a {
    background-color: #D0E8FC;
}
















.contentBox .table-responsive{
    max-height: 213px;
     overflow-y: auto;
     font-style: 14px;
     color: #4D4F5C;
 } 


 .contentBox .table {
     margin-bottom: 0px;
 }

 .contentBox .table th {
    border-top: 1px solid #fff;
    background-color: #E5E5E5;
    color:#666666;
 }



 ul.menuItemsWrap {
    display: -ms-flex;
	display: -webkit-flex;
    display: flex;
    
    flex-wrap: wrap;
}

li.menuItems {
    width: 33.33%;
    padding: 10px;
}

li.menuItems > a {
    display: -ms-flex;
	display: -webkit-flex;
    display: flex;
    
    padding: 10px;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    color: #4D4F5C;
    font-weight: 600;
    align-items: center;
}

li.menuItems > a:hover {
    border: 1px solid #135893;
    color: #135893;
    box-shadow: 0px 2px 6px #0000000A;
}

li.menuItems .menuImg img {
    max-width: 56px;
    border-radius: 2px;
}

li.menuItems .menuTxt {
    padding: 0px 10px;
}
.padd0{
    padding: 0px;
}
.pl0{
    padding-left: 0px;
}
.plr0{
    padding-left: 0px;
    padding-right: 0px;
}

.table-responsive span.tag {
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 20px;
    padding: 0px 5px;
    background-color: #F5F6FA;
    min-width: 78px;
    text-align: center;
}

.table-responsive span.tag + span.tag {
    margin-left: 5px;
}

.table-striped tbody tr:nth-of-type(odd){
    background-color: rgba(0,0,0,0.02);
}


.table-responsive.noscroll{
    max-height: none;
    height: 100%;
}


.form-group {
    margin-bottom: 0.5rem;
}

.forgotPass{
    font-size: 14px;
}

span.asterisk {
    color: red;
}

label {
    color: #4D4F5C;
}

.modal-header{
    background-color: #f5f7f9;
}


.modal-header h5{
    font-weight: 600;
    color: #135893;
    font-size: 20px;

}

.loginSubmit{
    margin-top: 20px;
}

.button + .button {
    margin-left: 15px;
}

.formSubHeading{
    font-weight: 600;
    margin: 5px 0px 5px 0px;
}

button:disabled,button:disabled:hover{
    cursor: not-allowed;
    background-color: #a0e0a3;
}


.switch-field.col2 label{
    width: 50%;
}

/*toogle css switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
    margin-bottom: 0px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2587C3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .eqplistWrap li{
    padding: 5px 10px 5px 15px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.04);
    margin-top: 10px;
  }


  .modal-body .eqplistWrap li:first-child{
    margin-top: 0px;
  }


  .eqpControl{
    text-align: center;
  }




  .customGrid{
    margin-top: 25px;
  }

  .customGrid li{
    padding: 5px 10px 5px 15px;
  }

  li.listHead {
    font-weight: 600;
    color: rgba(0,0,0,0.6);
  }

  .customGrid .listItem{
    border-radius: 4px;
    background-color: rgba(0,0,0,0.04);
    margin-top: 10px;
  }
  .paddact {
    padding: 10px;
    margin-bottom: 10px;
}
.activityinprogress {
    padding: 10px;
}
.activityinprogress h1 {
    margin-bottom: 10px;
}
.activityinprogress th, .activityinprogress td {
    padding:5px 10px;
}
  .customGrid li.listItem label { display: none; }
.rooming-table h4{font-size: 1.125rem;}
.rooming-table thead{
    color: #fff;
    background-color: #3773a7!important;
   }
.rooming-table thead th{
    font-size: 13px;
    font-weight: bold;
    padding: 0px 10px;
}
.rooming-table tbody tr td{
    padding: 0px 10px;
    font-size: 13px;
    border: 1px solid #ccc;
}

 /* Mega menu css
 ----------------------------------*/
 .megaMenu .modal-header .close{
    padding: 13px 19px;
    background-color: #135893;
    color: #fff;
    text-shadow: none;
 }
 
 .modal-dialog-slideout {
     min-height: 100%;
     margin: 0 0 0 auto;
     background: #fff;
}

.modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(100%,0)scale(1);
    transform: translate(100%,0)scale(1);
}

.modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
    height: 100%;
}

.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{
    overflow-y: auto;overflow-x: hidden;
}

.modal-dialog-slideout .modal-content{
    border: 0;
}

.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {
    height: 50px;
    display: block;
} 

.modal-dialog-slideout .modal-header h5 {
    float:left;
    line-height: 100%;
    font-weight: 600;
    color: #135893;
}

 /* Mega menu css end
 ----------------------------------*/





/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
 
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
  
.mainFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
    background-color: #DFDDDD;

    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #4D4F5C;
    font-size: 13px;
}






















/* ---------------media query--------------- */

@media (min-width: 768px) { 
    .modal-lg{max-width: 100%;}
}


@media (min-width: 992px) { 
    .modal-lg{max-width: 1162px;}
}








/* ---Extra large devices (large desktops, 1200px and up)--- */
@media (max-width: 1200px) {

}

/* ---Large devices (desktops, 992px and up)--- */
@media (max-width: 992px) { 
    .modal-lg{max-width: 1162px;}
    li.menuItems{width: 50%;}

    .linkListWrap .logButton { padding: 5px 15px; text-align: left;}
    .linkListWrap .logButton::after {right: 15px;}

    .linkListWrap{ flex-wrap: wrap;}
    .linkListWrap > li,.linkListWrap.viewAllLinkWrap > li{ flex-basis: 25%; margin-bottom: 15px;}
    .switch-field label{ padding: 11px 26px;}

}

/* ---Medium devices (tablets, 768px and up)--- */
@media (max-width: 768px) { 
    .modal-lg{max-width: 100%;}
    .linkListWrap > li,.linkListWrap.viewAllLinkWrap > li{ flex-basis: 33.33%; margin-bottom: 20px;}
    .customGrid .listHead{display: none;}
    .customGrid li.listItem label { font-weight: 600; display: block; }


}


/* ---Medium devices (tablets, 768px and up)--- */
@media (max-width: 576px){ 
    .modal-lg{max-width: 100%;}
    li.menuItems{width: 100%;}
    .linkListWrap > li,.linkListWrap.viewAllLinkWrap > li{ flex-basis: 50%;}
    .eqpControl{ text-align: left; margin-top: 10px;}
    

}


